<!--Header-->
<div class="jumbotron text-center  text-black">
    <div class="container bordered">
      <h1 class="display-4">MY YUKA</h1>
      <p class="lead">Obtenez les informations sur les produits alimentaires</p>
    </div>
  </div>
  
  <!--Scanner Section-->
  <div class="container bordered">
    <div class="row">
      <div class="col-12">
        <form>
          <div class="form-group col-6">
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Entrer le code barre">
          </div>
          <div class="text-center pt-3">
            <button class="btn btn-success" type="submit">Scanner</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!--Information Card-->
  <div class="container bordered py-5">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <img src="path-to-your-image.jpg" class="card-img-top" alt="Photo">
          <div class="card-body">
            <p class="card-text">Information sur la photo.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <p class="card-text">Liste des ingrédients.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!--Alergènes-->
  <div class="container bordered">
    <div class="row">
      <div class="col-12">
        Alergène
      </div>
    </div>
  </div>
  
  <!--Nutriscore-->
  <div class="container bordered">
    
    <div class="row">
      <div class="col bordered">
        NOVA
      </div>
      <div class="col bordered">
        NUTRISCORE
      </div>
      <div class="col bordered">
        Huile de Palme
      </div>
    </div>
  </div>

  <!--Info Distributeur-->
  <div class="container bordered">
    <div class="row">
      <div class="col-12">
        DISTRIBUTEUR
      </div>
    </div>
  </div>

  <!--Footer-->
  <footer class="text-muted">
    <div class="container bordered text-center">
      <p class="float-right">
        <a href="#">Retour en haut</a>
      </p>
      <p>myYuka &copy; Bryan FRANCOMME</p>
    </div>
  </footer>
  